$mikelovesthiscolor: #232946;
$txt: #121629;
$container-bg: #b8c1ec;

* {
  margin: 0.5rem;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: $mikelovesthiscolor;
}

h1 {
  color: $txt;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: $container-bg;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid gainsboro;
  background-color: $container-bg;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .link {
    color: $mikelovesthiscolor;
    text-decoration: none;
  }

  .link:active {
    color: wheat;
  }
}